{% extends "timeline-page.html" %}


{% block main_body %}
    {{ super() }}
    <div class="main_div">
        <div style="padding:15px; background-color:white">
            {{ prompt }}
        </div>


        <div id="responses" style="padding-top:20px; padding-bottom:20px" selected="{{ selected }}">
            {% for i in point_idxs %}
                <fieldset {% if selected != i %} hidden="hidden" {% endif %}>
                    <input class="pitch_point" id="pp{{ i }}" type="range" min="{{ -range }}" max="{{ range }}"
                           step="{{ step }}" value="{{ pitch_points[i] }}">
                </fieldset>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <button type="button" id="submit_button" class="btn btn-success btn-lg submit-response" onClick="submit();">
                Submit
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        var selected = document.getElementById("responses").getAttribute("selected");

        var body = document.body,
            pitch_points = document.getElementsByClassName('pitch_point'),
            //actions = ['change', 'input']; // TODO to high load for server
            actions = ['change'];

        var context = new AudioContext();
        // Preloading
        var buffer;

        function load_audio_file(source) {
            var request = new XMLHttpRequest();
            request.open('GET', source, true);
            request.responseType = 'arraybuffer';
            request.onload = function () {
                context.decodeAudioData(request.response, function (x) {
                    buffer = x;
                }, function () {
                    console.error('Error loading audio file: ' + source);
                });
            };
            request.send();
        }

        function play() {
            var pitch_points = [];
            $('.pitch_point').each(function (index) {
                pitch_points.push($(this)[0].value)
            });

            $.ajax('/synthesize/' + encodeURI(pitch_points.join(',')) + '/',
                {
                    dataType: 'json',
                    timeout: 500,
                    success: function (data, status, xhr) {
                        console.log(data);
                        load_audio_file(data.filename);
                        // Playing
                        var source = context.createBufferSource();
                        source.connect(context.destination);
                        source.buffer = buffer;
                        startTime = context.currentTime + 0.1;
                        source.start(startTime);
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                        // TODO do something
                        console.log(jqXhr, textStatus, errorMessage);
                    }
                });
        }

        for (let point of pitch_points) {
            actions.forEach(function (action_name) {
                point.addEventListener(action_name, function () {

                    play();
                }, false);
            });
        }

        submit = function () {
            next_page({
                "answer": parseInt(document.getElementById("pp{{ selected }}").value)
            });
        };

        window.onload = function () {
            play();
        };
    </script>
{% endblock %}